<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-1/2 mx-auto mt-8">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class=" px-3 py-2 {% if message.tags == 'success' %}bg-green-500{% endif %} rounded-md">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <form method="POST">
            
            {% csrf_token %}
            {{ task_form.as_p }}
            {{ task_detail_form.as_p }}
            <button type="submit" class="bg-rose-600 px-3 py-2 text-white mt-2 rounded-md">Submit</button>
        </form>
    </div>
</body>
</html>